@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.clip-path-polygon {
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 75%);
}


@media (max-width: 768px) {
    .clip-path-polygon {
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 88%);
    }
}